html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}


/* tables still need cellspacing="0" in the markup */

caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

/*universal style*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px solid grey;
}

/*general styles*/

/* font styles to use
font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Mono', monospace;
*/

html{
    font-size: 62.7%;
}
body{
    font-size: 1.6rem;
    line-height: 1.5; /*easier to read w space*/
    color: #4f4f4f; /*accessibility purposes*/

}
h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 14pt;
}
section {
    padding: 4% 0;
}
a {
    text-decoration: none;
    font-size: 10pt;
    color: #ececec;
    font-family: 'Roboto Mono', monospace;
}

/*header section styles*/
nav{
    padding: 2% 0;
}
nav a{
    display: inline-block;
    padding: 1% 0;
    width: 10%;
    border-radius: 10px;
    text-align: center;
}
.bottom{

    background-color: #f9e7dc;
}
.orange {
    background-color: #FF764E;
    margin-left: 10%;
    text-decoration: none;
}
.blue{
    background-color: #5ED3EB;
    margin: 0 24%;
}
.yellow{
    background-color: #FFCD69;
    margin-right: 10%;
}

/*top section styles*/
/* .top{
    position:absolute;
}
.left, .right{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
}
.left{
    width: 35%;
}
.right{
    width: 35%;
    padding: 3%;

}
.left img{
    width: 50%;
    border-radius: 50%;
}
.right img{

} */

.top{
    
}

/*the middle box w 2 paragraphs*/
.middle{
    display: inline-block;
    margin:5% 5%;
    background-color: #DDB9A3;
    font-family: 'Roboto Mono', monospace;
}

.middle p{
    padding: 5%;
}

